.ctable {
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;  /* white table */
    border: 2px solid #94a3b8;
    border-radius: 12px;      /* trimmed edges */
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;         /* IMPORTANT */
}

body
{
    background-color: #e0fee7;
}
.btn-c
{
    margin: auto;
    display: block;
}
table, th, td {
    border-collapse: collapse;
  }
  th, td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
    
  }